


  #index{
      width:300 ;
      height: 200;
      text-align: center;
      float: left;
      font-size: xx-large;
  }
  
  .logo{
    width: 150px;
    height: 50px;
    float: right;
    padding-left: 50px;
    padding-top: 50px;
  }
  #l1{
      width: 10px;
      height: 10px;
      float: right;
  }
 #p1{
float: left;
  }
  footer{
  text-align: center;
  margin-top: 200px;
  width: 100%;
  background-color: rgb(64, 103, 114);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: bisque;
  font: size 15px;
}

#welcome{
    font-family: Georgia, serif;
  text-shadow: 2cm;
  font-size: 50px;
  overflow: visible;
width: 100%;
background-repeat: no-repeat;
height: 58px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 200px;
margin-right: 200px;
}